{% form_theme eventForm 'tailwind_2_layout.html.twig' %}
{% form_theme addressForm 'tailwind_2_layout.html.twig' %}

{{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    {{ form_widget(addressForm) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(eventForm) }}
