{% form_theme eventForm 'tailwind_2_layout.html.twig' %}
{% form_theme addressForm 'tailwind_2_layout.html.twig' %}

<div class="w-1/3">


{{ form_start(eventForm) }}
    {{ form_row(eventForm.name) }}
    {{ form_row(eventForm.beginsAt) }}
    {{ form_row(eventForm.endsAt) }}
    {{ form_row(eventForm.registrationEndsAt) }}
    {{ form_row(eventForm.maxParticipantNumber) }}
    {{ form_row(eventForm.campuses) }}
    {{ form_row(eventForm.description) }}
    {{ form_row(addressForm.name) }}
    {{ form_row(addressForm.city) }}
    <ul id="suggestions-list" class="absolute w-full bg-white border border-gray-300 rounded-md shadow-md max-h-52 overflow-y-auto hidden"></ul>
    {{ form_row(addressForm.zipCode) }}
    {{ form_row(addressForm.street) }}
    <ul id="street-suggestions" class="absolute w-full bg-white border border-gray-300 rounded-md shadow-md max-h-52 overflow-y-auto hidden"></ul>

    {{ form_widget(addressForm, { 'attr': {'hidden': true} }) }}
    {{ form_row(eventForm.save) }}
    {{ form_row(eventForm.publish) }}
{{ form_end(eventForm) }}
</div>
<script src="{{ asset('js/addressAutocomplete.js') }}"></script>
