{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>BeginsAt</th>
                <th>EndsAt</th>
                <th>Duration</th>
                <th>RegistrationEndsAt</th>
                <th>Description</th>
                <th>MaxParticipantNumber</th>
                <th>Campus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.beginsAt ? event.beginsAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.endsAt ? event.endsAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.duration ? event.duration.format('%d jour(s), %Hh:%i') : '' }}</td>
                <td>{{ event.registrationEndsAt ? event.registrationEndsAt|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.maxParticipantNumber }}</td>
                {% for campus in event.campuses %}
                <td>{{ campus.name }}</td>
                {%  endfor %}
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
