{% extends 'base.html.twig' %}

{% block title %}Sortir - Profil{% endblock %}

{% block body %}
    <div>
        <h1>{{ controller_name }} : </h1>
        <br>
        <ul>
            <li>{{ user.campus.name }}</li>
            <li>{{ user.pseudo }}</li>
            <li>{{ user.firstName }}</li>
            <li>{{ user.name }}</li>
            <li>{{ user.phoneNumber }}</li>
            <li>{{ user.email }}</li>
            <li>
                <img src="{{ asset(app.user.imageProfile ? 'uploads/images/' ~ app.user.imageProfile : 'images/user1.png') }}"
                     alt="Photo de profil">
            </li>
        </ul>
        <br>
        <a href="{{ path("user_update_profil", {'id': app.user.id}) }}" class="mr-5 hover:text-gray-900">Modifier</a>
    </div>
{% endblock %}
