{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h2>{{ controller_name }}</h2>
    <br>
    {{ form_errors(profilForm) }}
    <div>
        {{ form_start(profilForm) }}
        {{ form_row(profilForm.campus, { 'attr': {'hidden': not is_granted('ROLE_ADMIN')} }) }}
        {{ form_row(profilForm.pseudo) }}
        {{ form_row(profilForm.firstName) }}
        {{ form_row(profilForm.name) }}
        {{ form_row(profilForm.phoneNumber) }}
        {{ form_row(profilForm.email) }}
        {{ form_row(profilForm.oldPassword) }}
        {{ form_row(profilForm.newPassword) }}
        {{ form_row(profilForm.confirmPassword) }}
        {{ form_row(profilForm.image) }}
        <br>
        {{ form_end(profilForm) }}
    </div>
    <form action="{{ path("user_delete", {id: user.id}) }}" method="POST">
        {% if app.user and app.user.id == user.id %}
            <button type="submit" class="btn">Supprimer mon compte</button>
        {% elseif "ROLE_ADMIN" in app.user.roles %}
            <button type="submit">Supprimer utilisateur</button>
        {% endif %}
    </form>

{% endblock %}